/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

nav {
  background-color: #ccc;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

main {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ol,
ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* Footer styles */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ccc;
}

